<div
  class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]"
>
  <div class="px-6 py-5">
    <h3 class="text-base font-medium text-gray-800 dark:text-white/90">
      With controls and indicators
    </h3>
  </div>
  <div class="p-3 border-t border-gray-100 dark:border-gray-800 sm:p-6">
    <div
      class="swiper carouselFour rounded-lg border border-gray-200 dark:border-gray-800 swiper-initialized swiper-horizontal swiper-backface-hidden"
    >
      <div
        class="swiper-wrapper"
        style="
          transition-duration: 0ms;
          transform: translate3d(-1461px, 0px, 0px);
          transition-delay: 0ms;
        "
      >
        <!-- slider item -->
        <div class="swiper-slide" style="width: 487px">
          <div class="overflow-hidden">
            <img src="src/images/carousel/carousel-04.png" alt="carousel" />
          </div>
        </div>

        <!-- slider item -->
        <div class="swiper-slide" style="width: 487px">
          <div class="overflow-hidden">
            <img src="src/images/carousel/carousel-01.png" alt="carousel" />
          </div>
        </div>

        <!-- slider item -->
        <div class="swiper-slide swiper-slide-prev" style="width: 487px">
          <div class="overflow-hidden">
            <img src="src/images/carousel/carousel-02.png" alt="carousel" />
          </div>
        </div>

        <!-- slider item -->
        <div class="swiper-slide swiper-slide-active" style="width: 487px">
          <div class="overflow-hidden">
            <img src="src/images/carousel/carousel-03.png" alt="carousel" />
          </div>
        </div>
      </div>

      <!-- If we need pagination -->
      <div
        class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
      >
        <span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span
        ><span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
        ></span>
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev">
        <svg
          class="h-auto w-auto stroke-current"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.25 6L9 12.25L15.25 18.5"
            stroke=""
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </div>
      <div class="swiper-button-next swiper-button-disabled">
        <svg
          class="stroke-current"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.75 19L15 12.75L8.75 6.5"
            stroke=""
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
