/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
.mat-icon {
  font-family: 'Material Icons';
  color: black;
  /* Or any visible color */
}

.no-margin {
  margin: 0 !important;
}